[submodule "a3g-loadout"]
	path = a3g-loadout
	url = https://github.com/a3g/a3g-loadout
	branch = master
[submodule "a3g-spectator-cam"]
	path = a3g-spectator-cam
	url = https://github.com/a3g/a3g-spectator-cam
	branch = master
